                    * {
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                    }
                    
                    #quote-box {
                        margin: auto;
                        position: relative;
                        top: 30vh;
                        align-items: center;
                        min-height: 230px;
                        width: 35rem;
                        background-color: white;
                        border-radius: 6px;
                    }
                    
                    #text {
                        color: black;
                        text-align: center;
                        padding-top: 30px;
                        padding-right: 50px
                    }
                    
                    #author {
                        position: absolute;
                        left: 25rem;
                        padding-top: 1.5rem;
                        padding-bottom: 10rem;
                        font-size: 16px;
                        font-weight: normal;
                    }
                    
                    #new-quote {
                        height: 39px;
                        color: white;
                        background-color: black;
                        border-radius: 3px;
                        font-size: 0.8rem;
                        border: none;
                        margin-right: 45px;
                        z-index: 2;
                    }
                    
                    button:hover {
                        cursor: pointer;
                    }
                    
                    .icons-button-div {
                        display: flex;
                        justify-content: space-between;
                        flex: 50%;
                        padding-top: 4.5rem;
                        flex-direction: row-reverse;
                        width: 35rem;
                    }
                    
                    .button-text {
                        padding: 20px;
                    }
                    
                    #socialMedia {
                        color: white;
                        padding-left: 45px;
                        display: flex;
                        margin-bottom: 2.5rem;
                    }
                    
                    .twitter-icon {
                        padding-top: 8px;
                        background-color: black;
                        height: 2.4rem;
                        width: 2.4rem;
                        text-align: center;
                        border-radius: 3px;
                        font-size: 1.0rem;
                        color: white;
                    }
                    
                    .tumblr-icon {
                        padding-top: 8px;
                        margin-left: 6px;
                        background-color: black;
                        height: 2.4rem;
                        width: 2.4rem;
                        text-align: center;
                        border-radius: 3px;
                        font-size: 1.0rem;
                        color: white;
                    }
                    
                    .quote-icon {
                        font-size: 2rem;
                        padding-right: 10px;
                        padding-left: 44.8px;
                    }
                    
                    .mtunzi {
                        position: relative;
                        top: 2rem;
                        font-size: 13px;
                        left: 15rem;
                        color: white;
                    }
                    
                    body {
                        color: black;
                        animation: slowchange 0.4s ease-out forwards;
                    }
                    
                    @keyframes slowchange {
                        0% {
                            transform: translateY(-100%);
                        }
                        100% {
                            transform: translateY(0);
                        }
                    }