                    * {
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                    }
                    
                    #quote-box {
                        margin: auto;
                        position: relative;
                        top: 30vh;
                        align-items: center;
                        min-height: 230px;
                        width: 35rem;
                        background-color: white;
                        border-radius: 6px;
                        animation: min-max-transition 2s ease-in-out;
                        transition: min-height 2s ease-in-out;
                    }
                    
                    @keyframes min-max-transition {
                        0% {
                            min-height: 0px;
                        }
                        25% {
                            min-height: 50px;
                        }
                        50% {
                            min-height: 75px;
                        }
                        75% {
                            min-height: 100px;
                        }
                        100% {
                            min-height: 230px;
                        }
                    }
                    
                    .quote-content {
                        padding-left: 30px;
                        text-align: center;
                        text-justify: auto;
                    }
                    
                    #text {
                        color: black;
                        text-align: center;
                        padding-top: 30px;
                        padding-right: 50px;
                        transition: all 2s;
                    }
                    
                    #author {
                        position: absolute;
                        left: 25rem;
                        padding-top: 1.5rem;
                        padding-bottom: 10rem;
                        font-size: 16px;
                        font-weight: normal;
                        padding-right: 25px;
                    }
                    
                    #new-quote {
                        height: 39px;
                        color: white;
                        background-color: black;
                        border-radius: 3px;
                        font-size: 0.8rem;
                        border: none;
                        margin-right: 45px;
                        z-index: 2;
                        transition: background-color 2s;
                    }
                    
                    button:hover {
                        cursor: pointer;
                    }
                    
                    .icons-button-div {
                        display: flex;
                        justify-content: space-between;
                        flex: 50%;
                        padding-top: 4.5rem;
                        flex-direction: row-reverse;
                        width: 35rem;
                    }
                    
                    .button-text {
                        padding: 20px;
                    }
                    
                    #socialMedia {
                        color: white;
                        padding-left: 45px;
                        display: flex;
                        margin-bottom: 2.5rem;
                    }
                    
                    .twitter-icon {
                        padding-top: 8px;
                        background-color: black;
                        height: 2.4rem;
                        width: 2.4rem;
                        text-align: center;
                        border-radius: 3px;
                        font-size: 1.0rem;
                        color: white;
                        transition: background-color 2s;
                    }
                    
                    .tumblr-icon {
                        padding-top: 8px;
                        margin-left: 6px;
                        background-color: black;
                        height: 2.4rem;
                        width: 2.4rem;
                        text-align: center;
                        border-radius: 3px;
                        font-size: 1.0rem;
                        color: white;
                        transition: background-color 2s;
                    }
                    
                    .quote-icon {
                        font-size: 2rem;
                        padding-right: 10px;
                        padding-left: 30px;
                    }
                    
                    .mtunzi {
                        position: relative;
                        top: 2rem;
                        font-size: 13px;
                        left: 15rem;
                        color: white;
                    }
                    
                    body {
                        color: black;
                        transition: background-color 2s;
                    }